*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 1500px;
    background-color:#dad2d2;

}
:root{
    --headhightoverall:15rem
}
.border{
    /* border: 1px solid rgb(249, 6, 6); */
}
.liststyle{
     list-style: none;
}
.fonttop{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.navfont{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem ;
}
.topfsize{
    font-size: 3rem;
    text-shadow: 3px 3px 2px cadetblue; 
}  
.mp{
    margin: 0;
    padding: 0;
}

/* HEADER PART */
header::before{
    content: "";
    background-color: rgb(186, 205, 199);
    position: absolute;
    width: 100vw;
    height: var(--headhightoverall);
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0.3;
}
.headerhight{
    height: var(--headhightoverall)
}
header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    justify-content: space-around;
}
.headerrightbox{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 45%;
}
.headerrightbox ul{
   display: flex;
   width: 100%;
   flex-direction: column;
   justify-content:space-evenly;
   text-align: left; 
}
.headerleftbox{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headerleftbox img{
    width: 25rem;
    height: auto;
    
}
.padingheadtop{
    padding-top: 25px;
}

/* NAV PART  */

nav ul{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100dvw;
    height: 4rem;
    align-items: center;
    
}
nav ul li{
    padding: 2px;
    border-radius: 4px;
}
.navdiff{
    background-color: #0d0d0d;
    color: wheat;
}
nav ul li:hover{
    background-color: #8d9f9f;
    cursor: pointer;
}

/* NAV BAR KE NICHE WALI IMG  */
.firstbox::before{
    position: absolute;
    content: "";
    background: url(images/project2_1.jpg) no-repeat center center/cover  ;
    top: 19rem;
    left: 0;
    width: 100svw;
    height: 400px;
    z-index: -1;
    opacity: 0.5;
}
.firstbox{
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.firstbox p{  
    width: 100vw;
    text-align: left;
    box-sizing: border-box;
    padding: 45px 138px;
}
#firstboxp1{
    height: 60%;
    font-size: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem ;
}
#firstboxp2{
    height: 40%;
    font-size: 1.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem ;
}
/* JABALPUR */

#jabalpur{
    width: 100vw;
    height: 100px;
    font-size: 3rem;
    text-align: center;
    padding-top: 18px;
    box-sizing: border-box;
}

/* location portion */
.location{
    display: flex;
    width: 100svw;
    height: 300px;
    justify-content: space-evenly;
}
.location li{
    width: 200px;
    font-size: 1.5rem;
    margin-left: 40px;
}
.locationleft{
    width: 40%;
    height: 300px;
}
.locationright{
    width: 40%;
    height: 300px;
}
#locationheadingleft{
    text-align: center;
    font-size: 2rem;
}
#locationheadingright{
    text-align: center;
    font-size: 2rem;
}
.locationhearlistleft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
}
.locationlistright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
}

/* body ka kam chalu */
.body::before{
    position: absolute;
    content: "";
    background: url(images/project2_2.jpg) no-repeat center center/cover  ;
    top: 71rem;
    left: 0;
    width: 100svw;
    height: 371px;
    z-index: -1;
    opacity: 0.5;
}
.body{

    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.bodyheading{
    font-size: 3rem;
}
.bodypera{
    font-size: 1.5rem;
}
.butten{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.mgn1{
    margin-top: 17px;
    width: 100px;
}
.mgn2{
    margin-top: 17px;
}

/* traning part stard */
.traning{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 100vw;
}
.traning ul{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    text-align: center;
    height: 150px;
    font-size: 1.2rem;
}
.traning ul li{
    width: 20%;
    height: 100%;
    font-size: 0.9rem;
}
.traninghead{
    font-size: 3rem;
}
.traningmatter{
    font-size: 1.5rem;
}
.traningfirst{
    font-size: 1.1rem;
    border-radius: 4px;
    background-color: #ae9393;
    height: 30px;
    display: flex;
    align-items: center;
}
.traningfirst:hover{
    cursor: pointer;
    background-color: #4f4646;
    color: bisque;
}
.traninglast{
    font-size: 1rem;
}

/* timing portion stard */
.time::before{
    
        content: "";
        background: url(images/project2_5.jpg)no-repeat center center/cover;
        position: absolute;
        width: 100vw;
        height: 499px;
        left: 0;
        top: 2012px;
        z-index: -1;
        opacity: 0.5;

}
.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    width: 100vw;
    height: 500px;
}
.timefirst{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 193px;
}
.timehead{
    font-size: 2.5rem;
}
.timepera{
    font-size: 1.5rem;
}
.timelast{
    font-size: 2rem;
}
.twolist{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    height: 200px;
}
.twolist ul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.twolist ul li:hover{
    cursor: pointer;
    color: #000000d5;
    transform: scale(1.1);
    text-shadow: 2px 2px 2px #f4c1c1;
}

/* footer  */

.footer{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 300px;
    padding-top: 40px;
    background-color: #393030;
    color:#ffcccc;
}
.footerclass{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.firstblock{
    font-size: 1.5rem;
}
.footersecond{
    height: 70%;
}
.footerthird{
    height: 50%;
}
.footer li:hover{
    cursor: pointer;
    transform: scale(1.5);
}
